:root {
    --textColor: #0f1111;
    --backgroundColor: #f8fafa;
    --primaryColor: #5f9ab6;
    --secondaryColor: #8dc2dc;
    --accentColor: #5fb7e2;
}
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--backgroundColor);
    font-family: "Roboto", sans-serif;
}