:root {
    --textColor: #e8eefc;
    --backgroundColor: #040c1c;
    --primaryColor: #497cec;
    --secondaryColor: #5a158e;
    --accentColor: #ba23de;
}
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--backgroundColor);
    font-family: "Roboto", sans-serif;
}